#blob {
  background-color: white;
  height: 35vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, cyan, rgb(147, 93, 255));
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  backdrop-filter: blur(18vmax);
  pointer-events: none;
}

@keyframes rotate {
  from { rotate: 0deg; }
  50% { scale: 1 1.5; }
  to { rotate: 360deg; }
}